<html ng-app="APP">
    <head>
        <title>Login Portal</title>
        <link href="./styles/styles.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src='./angular.js'></script>
    </head>    
    <body>
        
    <div class="login-page" ng-controller="signup">
            <div class="form">
              
              <form class="login-form">
                <input type="text" placeholder="Username" ng-model="username"/>
                <input type="password" placeholder="password" ng-model="password"/>
                <button ng-click="Signup()">Sign Up</button>
                
              </form>
            </div>
          </div>
    </body>
    </html>